# See https://help.github.com/ignore-files/ for more about ignoring files.

# JS dependencies
/node_modules

# testing
/coverage

# var dir (Postgres data, etc.)
/var

# production
/server/public/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

